* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 35, 48);
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-of-type(1) {
  stroke-dasharray: 451px;
  stroke-dashoffset: 451px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-of-type(2) {
  stroke-dasharray: 376px;
  stroke-dashoffset: 376px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-of-type(3) {
  stroke-dasharray: 214px;
  stroke-dashoffset: 214px;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-of-type(4) {
  stroke-dasharray: 595px;
  stroke-dashoffset: 595px;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-of-type(5) {
  stroke-dasharray: 451px;
  stroke-dashoffset: 451px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-of-type(6) {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-of-type(7) {
  stroke-dasharray: 459px;
  stroke-dashoffset: 459px;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-of-type(8) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-of-type(9) {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-of-type(10) {
  stroke-dasharray: 459px;
  stroke-dashoffset: 459px;
  animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-of-type(11) {
  stroke-dasharray: 341px;
  stroke-dashoffset: 341px;
  animation: line-anim 2s ease forwards 3s;
}
#logo path:nth-of-type(12) {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-anim 2s ease forwards 3.3s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
